
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
}

.standard {
    background-color: #101111;
    color: #ffffff;
    transition: 0.3s linear;
    overflow: hidden;
}

.light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
    transition: 0.3s linear;
}


#header, #form, #datetime {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}

.flexrow-container {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.theme-selector {
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    transition: tranform 150ms ease-in-out, box-shadow 200ms ease-in-out;
    width: 35px;
}

.theme-selector:hover { 
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

.theme-selector:active {
    transform: scale(0.95);
}

.standard-theme {
    background-image: linear-gradient(100deg, #202020, #000000); 
}

.light-theme {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff); 
}

#title {
    border-right: solid 2px rgba(0, 0, 0, 0.75);
    white-space: pre;
    overflow: hidden;     
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 755px;
  }
  
#title {
    animation: animated-text 2s steps(31,end) 0.5s 1 normal both,
        animated-cursor 750ms steps(31,end) infinite;
  }

#title.darker-title {
    animation: animated-text 2s steps(31,end) 0.5s 1 normal both, darker-animated-cursor 750ms steps(31,end) infinite;
}
  
  
  @keyframes animated-text{
    from{width: 0%;}
    to{width: 755px;}
  }
  
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }

  @keyframes darker-animated-cursor {
    from{border-right-color: #01394c;}
    to{border-right-color: transparent;}
  }

form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}

form input.standard-input {
    background-color: transparent;
    color: rgb(227, 227, 227);
    border: gray 1px solid;
}


form input.light-input {
    background-color: #ffffff;
    color: #1C1C1C;
}

form input:hover {
    cursor: text;
}

button {
    border: none;
    outline: none; 
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
}

button.standard-button {
    color: rgb(227, 227, 227);
    color: rgb(0, 0, 0);
}

button.standard-button:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

button.light-button {
    background-color: white;
    color: #1a150e;
}

button.light-button:hover {
    background-color: #f0f0f0;
}


form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 100px;
}

#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}


.todo-list {
    min-width: 45%;
    list-style: none;
}

.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
}

.standard-todo {
    background-color: rgb(26, 27, 27);
    border: rgba(58, 58, 58, 0.522) 1px solid;
}

.light-todo {
    background-color:#fefefe;
    border: rgba(76, 76, 76, 0.388) 1px solid;
}

.todo li{
    padding: 7px;
    font-size: 20px;
    flex: 1;
    border-radius: 20px;
    overflow-wrap: anywhere;
}

.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check { 
    pointer-events: none;
}


.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transition: 0.5s;
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}

@media only screen and (max-width: 1000px) {
    .flexrow-container {
        align-self: unset;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    #header {
        font-size: 1rem;
    }

    #title {
        animation: 
            animated-text 3s steps(31,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(31,end) infinite;
        margin-bottom: 10px;
        margin-top: 30px;
        max-width: 284px;
    }
}

@media only screen and (max-width: 400px) {
    #header {
        font-size: 0.8rem;
    }

    #title {
        animation: 
            animated-text 3.5s steps(28,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(28,end) infinite;
        max-width: 235px;
    }
}

@media only screen and (max-width: 400px) {
    form {
        align-items: center;
        flex-direction: column;
    }

    form input {
        border-radius: 17px;
    }

    form button {
        border-radius: 15px;
        margin-top: 15px;
        width: 50%;
    }
    form > button.light-button {
        box-shadow: 0 0 5px lightgray;
    }
}


body {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
    min-height: 100vh;
    padding-top: 3%;
}

.standard {
    background-color: #101111;
    color: rgb(227, 227, 227);
    transition: 0.3s linear;
    overflow: hidden;
}

.light {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
    color: #1a150e;
    transition: 0.3s linear;
}


#header, #form, #datetime {
    margin: 0 1rem;
    min-height: 10vh;
    width: 100%;
}

#header {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 3rem;
    min-height: 25vh;
    width: 100%;
}


.flexrow-container {
    align-items: center;
    align-self: flex-end;
    display: flex;
    justify-content: space-around;
    margin-right: 3%;
}

.theme-selector {
    border: 1px solid #d1dae3;
    border-radius: 100%;
    height: 35px;
    margin: 0 8px;
    transition: tranform 150ms ease-in-out, box-shadow 200ms ease-in-out;
    width: 35px;
}

.theme-selector:hover { 
    box-shadow: white 0 0 8px;
    cursor: pointer;
}

.theme-selector:active {
    transform: scale(0.95);
}

.standard-theme {
    background-image: linear-gradient(100deg, #202020, #000000); 
}

.light-theme {
    background-image: linear-gradient(100deg, #d4f1ff, #ffffff);
}

#title {
    border-right: solid 2px rgba(0, 0, 0, 0.75);
    white-space: pre;
    overflow: hidden;     
    letter-spacing: 0.20rem;
    margin-top: 50px;
    margin-bottom: 20px;
    max-width: 755px;
}
  
#title {
    animation: animated-text 2s steps(31,end) 0.5s 1 normal both,
        animated-cursor 750ms steps(31,end) infinite;
  }

  
  @keyframes animated-text{
    from{width: 0%;}
    to{width: 755px;}
  }
  
  
  @keyframes animated-cursor{
    from{border-right-color: rgba(0, 0, 0, 0.75);}
    to{border-right-color: transparent;}
  }


form {
    display: flex;
    font-size: 1.7rem;
    justify-content: center;
    margin: 15px 0;
    padding: 0.8rem;
    width: 100%;
}

form input {
    padding: 10px;
    font-size: 17px;
    border: none;
    outline: none;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    max-width: 500px;
    transition: background-color 200ms ease-in-out;
    width: 100%;
}


form input.standard-input {
    background-color: transparent;
    color: rgb(227, 227, 227);
    border: gray 1px solid;
}


form input.light-input {
    background-color: transparent;
    color: #1a150e;
    border: rgba(0, 0, 0, 0.135) 1px solid;
}

form input.light-input::placeholder {
    color: #1a150e;
    opacity: 0.7;
}

form input:hover {
    cursor: text;
}

form input.light-input:hover {
    background-color: #ffffff;
}

button {
    border: none;
    outline: none; 
    transition: box-shadow 200ms ease, background-color 200ms ease-in-out;
}

button:hover {
    cursor: pointer;
}

button.standard-button {
    color: rgb(227, 227, 227);
    color: rgb(0, 0, 0);
}

button.standard-button:hover {
    background-color: white;
    box-shadow: #fff8 0 0 10px;
}

button.light-button {
    background-color: white;
    color: #1a150e;
}

button.light-button:hover {
    background-color: #f0f0f0;
}


form button {
    padding: 10px;
    font-size: 17px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width: 100px;
}

#myUnOrdList {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
}

.todo-list {
    min-width: 45%;
    list-style: none;
}

.todo {
    margin: 1rem;
    font-size: 19px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em 0.5em;
    border-radius: 10px;
    transition: background-color 200ms ease-in-out;
}


.standard-todo {
    background-color: rgb(26, 27, 27);
}

.light-todo {
    background-color:#ffffff;
}


.todo li{
    padding: 7px;
    font-size: 20px;
    flex: 1; 
    border-radius: 10px;
    overflow-wrap: anywhere;
}

.check-btn, .delete-btn {
    font-size: 19px;
    cursor: pointer;
    width: 2em;
    height: 2em;
    border-radius: 80%;
    margin: 0 5px;
}

.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check { 
    pointer-events: none;
}


.completed {
    transition: 0.2s;
    text-decoration: line-through;
    opacity: 0.5;
}

.fall {
    transition: 0.8s;
    transform: translateY(45rem) rotateZ(45deg);
    opacity: 0;
}


@media only screen and (max-width: 1000px) {
    .flexrow-container {
        align-self: unset;
        margin-right: 0;
    }
}

@media only screen and (max-width: 800px) {
    #header {
        font-size: 1rem;
    }

    #title {
        animation: 
            animated-text 3s steps(31,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(31,end) infinite;
        margin-bottom: 10px;
        margin-top: 30px;
        max-width: 284px;
    }
}

@media only screen and (max-width: 400px) {
    #header {
        font-size: 0.8rem;
    }

    #title {
        animation: 
            animated-text 3.5s steps(28,end) 0.5s 1 normal both,
            animated-cursor 750ms steps(28,end) infinite;
        max-width: 235px;
    }
}

@media only screen and (max-width: 400px) {
    form {
        align-items: center;
        flex-direction: column;
    }

    form input {
        border-radius: 17px;
        margin-top: 2%;
    }

    form button {
        border-radius: 15px;
        margin-top: 15px;
        width: 50%;
    }
    form > button.light-button {
        box-shadow: 0 0 5px lightgray;
    }

    
}
.menu-item a.light-link{
    color: #1E1E1E;
}
.menu-item a.standard-link{
    color: #ffffff;
}
.menu-items{
    list-style: none;
    display: flex;
    color: white;
    text-align: center;
    margin-right: 4%;
    backdrop-filter: bluw;
    background-color: transparent;
}


.menu-item{
    text-align: center;
    text-decoration: none;
    padding-left: 5%;

}
.menu-item a{
    text-decoration: none;
    font-size: 1.2rem;
}

.menu-item a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 800px){
    .menu-items{
        margin-right: 6%;
    }
    .menu-item a{
        text-decoration: none;
        font-size: 1rem;
    }
}
